<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Brief9-ToDoList-WebApp</display-name>
  <welcome-file-list>
    <welcome-file>SignIn.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.Todolist.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.Todolist.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTask</display-name>
    <servlet-name>CreateTask</servlet-name>
    <servlet-class>com.Todolist.CreateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTask</servlet-name>
    <url-pattern>/CreateTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTask</display-name>
    <servlet-name>UpdateTask</servlet-name>
    <servlet-class>com.Todolist.UpdateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTask</servlet-name>
    <url-pattern>/UpdateTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TasksDashboard</display-name>
    <servlet-name>TasksDashboard</servlet-name>
    <servlet-class>com.Todolist.TasksDashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TasksDashboard</servlet-name>
    <url-pattern>/TasksDashboard</url-pattern>
  </servlet-mapping>
</web-app>