<h2>User List</h2>
<table class="table table-striped">

    <thead>
        <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email </th>
            <th>Type</th>
            <th>Action</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of users">
            <td> {{user.nom}}</td>
            <td> {{user.prenom}}</td>
            <td> {{user.username}}</td>
            <td> {{user.email}}</td>
            <td> {{user.label}}</td>
            <td>
                <td><button (click)="userDetails(user.id)" class="btn btn-info">Details</button>
                <button (click)="updateUser(user.id)" class="btn btn-success" style="margin-left: 10px">Update</button>
                <button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
            </td>
        </tr>
    </tbody>
</table>